torch
torchvision
torchaudio
numpy
Pillow
opencv-python
einops
networkx
shapely
requests
tqdm
py3langid
pyclipper
scikit-image
pytest
pyinstaller
deep-translator
fastapi
uvicorn[standard]
pydantic
psutil
py7zr
zns-logging
